body{
  font-family: Arial;
}

.error{
  color: #FF0000;
}

.highlight{
  background-color: #FFFF00;
}

.hidden{
  display: none;
}

.floating-box{
  display: block;
  position: fixed;
  width: 780px;
  left: 50%;
  margin-left: -401px;
  background-color: #DDDDDD;
  padding: 5px 10px;
  position: fixed;
  height: 500px;
  margin-top: -256px;
  top: 50%;
}

.floating-box-content{
  overflow-y: scroll;
  height: 450px;
  border-bottom: 1px dashed #000000;
  margin-bottom: 8px;
}

.box-border{
  border: 1px solid #333333;
  border-radius: 4px;
}

.floating-box-toolbar{
  background-color: #BBBBBB;
  height: 30px;
  width: 778px;
  padding-top: 6px;
  bottom: 10px;
  position: absolute;
  text-align: center;
}

.toolbar-button{
  cursor: pointer;
  background-color: #999999;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  padding: 0 5px;
}

.disabled{
  color: #AAAAAA;
  cursor: default;
}

.avatar{
  width: 48px;
  height: 48px;
  float: left;
  display: inline;
  margin-top: 16px;
  margin-left: 16px;
}

.tweet-description{
  display: inline-block;
  width: 680px;
  padding: 2px 0 0 10px;
  font-size: 14px;
  line-height: 20px;
}

.tweet{
  display: inline-block;
  margin: 5px 0;
  height: 80px;
  width: 760px;
}

.tweet-top-text{
  height: 30px;
}


.left{
  float: left;
  display: inline;
}

.right{
  float: right;
  display: inline;
}

.even{
  background-color: #CCCCCC;
}

.odd{
  background-color: #EEEEEE;
}