body{
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
}

.ui-li-thumb{
  margin: 10px;
}

.tweet-date{
  float: right;
  font-size: 12px;
}

.ui-li.ui-li-static.ui-btn-up-c.ui-li-has-thumb{
  padding-left: 70px;
}
.error{
  color: #FF0000;
}

.highlight{
  background-color: #FFFF00;
}

.hidden{
  display: none;
}

.floating-box{
  margin: 30px 0;

}

.tweet-description{
  display: inline-block;
  padding: 2px 0 0 10px;
  font-size: 14px;
  line-height: 20px;
}

.tweet{
  display: inline-block;
  margin: 5px 0;
  height: 80px;
  width: 100%;
}

.left{
  float: left;
  display: inline;
}

.right{
  float: right;
  display: inline;
}

.center{
  text-align: center;
}

.gallery-image-container img{
  max-width: 100%;
}